.card {
    width: 100%;
    height: 100%;
    max-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: normal;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.description {

}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteButton {
    position: absolute;
    top: -2.5rem;
    right: -1.5rem;
    z-index: 1;
}